
<link href="css/index.css" rel="stylesheet">
<script type="text/javascript" src="./js/index.js"></script>

<div id="grid"></div>
<ul id="context-menu">
    <li id="addRow">addRow</li>
    <li id="editRow">editRow</li>
    <li id="removeRow">removeRow</li>
</ul>
<div id="notification"></div>
<div id="popup"></div>
<script id="field-template" type="text/x-kendo-template">
    <ul>
        #for(var i=0;i < data.length;i++){#
        <li><label><input type="checkbox" checked="checked:#: !data.hidden #">#= data[i].field#</label></li>
        #}#
    </ul>
</script>
